.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки */
  gap: 2rem; /* Расстояние между колонками */
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  border-radius: 12px;
  color: var(--button-text-color);
}

.task-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 768px) 
{
    .register-form {
      background: var(--card-background);
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 0 4px 8px var(--shadow-color);
      display: flex;
      flex-direction: column;
      gap: 1rem; /* Разделение между элементами */
      align-items: center;
      justify-content: center;
      
    }
}


button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 50px;
  background: linear-gradient(to right, var(--primary-color), var(--accent-color));
  color: var(--button-text-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background: var(--button-hover);
  transform: scale(1.05);
}
