.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две колонки */
  gap: 2rem; /* Расстояние между колонками */
}
.title{
  font-weight: 700;
  text-transform: uppercase;
  font-family:Arial, Helvetica, sans-serif;
}
.task-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}






